@font-face {
    font-family: 'Matura MT Script Capitals';
    src: url('../fonts/MATURASC_1.TTF') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper BT Black';
    src: url('../fonts/COOPBL.TTF') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriad-pro-semiextended.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Base styling */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: auto;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

/* Header and logo styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.header a {
    text-decoration: none;
}

.logo {
    font-family: 'Matura MT Script Capitals', sans-serif;
    font-size: 2rem;
    color: #5c3e29;
    text-align: left;
    display: flex;
    gap: 10px;
}

.logo i {
    font-size: 0.3em;
    vertical-align: top;
    position: relative;
}

.panier_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    gap: 20px;
    border-bottom: 2px solid #5c3e29;
    align-items: center;
    width: 90%;
    /* Ensure panier_menu takes up full space */
}

.panier {
    display: flex;
    align-items: center;
}

.panier p {
    margin: 0;
    margin-right: 8px;
    font-size: 13px;
    color: #5c3e29;
}

.panier i {
    font-size: 20px;
    color: #5c3e29;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li::after {
    content: '|';
    margin-left: 10px;
}

.menu ul li:last-child::after {
    content: '';
}

.menu ul li a {
    text-decoration: none;
    font-family: 'MyriadPro', sans-serif;
    font-size: 13px;
    color: #5c3e29;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.social-icon-items {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #5c3e29;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #080701;
}

.language-selector {
    display: flex;
    align-items: center;
    color: #5c3e29;
    cursor: pointer;
    gap: 1px;
}

.language-selector i.fas.fa-globe {
    font-size: 25px;
}

.language-selector select {
    background-color: transparent;
    color: #5c3e29;
    border: none;
    font-size: 16px;
    outline: none;
    appearance: none;
    text-align: center;
}

.language-selector:hover,
.language-selector:hover select,
.language-selector:hover span {
    cursor: pointer;
}

.language-selector select option {
    background-color: #5c3e29;
    color: rgb(255, 253, 253);
}



/* Main content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Cooper BT Black', sans-serif;
    color: #5c3e29;
}

.soins-traditions {
    font-size: 3rem;
    margin-bottom: 15px;
    margin-top: -15%;
    font-family: 'Cooper BT Black', sans-serif;
    color: #fcf8f6;
}

.underline {
    margin: 10px auto;
    width: 250px;
    height: 5px;
    background-color: transparent;
    border-bottom: 2px solid #5c3e29;
    border-radius: 50%;
    box-shadow: inset 13px -8px 0 -4px #5c3e29;
    transform: skewX(78deg);
}

.underline-soins-traditions {
    margin: 10px auto;
    width: 25%;
    height: 5%;
    background-color: transparent;
    border-bottom: 2px solid #eceae8;
    border-radius: 50%;
    box-shadow: inset 13px -8px 0 -4px #f0efee;
    transform: skewX(78deg);
}

p {
    font-size: 15px;
    max-width: 70%;
    color: #5c3e29;
    font-family: 'MyriadPro', sans-serif;
}

/* Cards styling */
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    width: calc(17% - 20px);
    position: relative;
    font-family: 'Arial', sans-serif;
}

.card-qui-sommes-nous {
    color: white;
    padding-bottom: 20%;
    text-align: center;
    font-family: 'Arial', sans-serif;
}


.list-contact {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-color: #83461a;
    opacity: 0.6;
}

.list-qui-sommes-nous {
    padding-top: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    /*background-color: #83461a;
    background-image: url('images/background.jpg');
    opacity: 0.6;*/

}

.background-contact {
    position: relative;
    left: 0;
    width: 50%;
    height: 10%;
    z-index: -1;
}

.background-contact img {
    width: 205vh;
    height: 150vh;
    object-fit: cover;
}

.card-contact {
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    width: calc(17% - 20px);
    position: relative;
    font-family: 'Arial', sans-serif;
}

.contact {
    font-family: 'MyriadPro-Regular', sans-serif;
    /* Apply the font */
    font-size: 4rem;
    color: #b97f56;
    text-align: center;
    /* Change from right to left */
    opacity: 0.6;
}

.icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    overflow: hidden;
    /* Pour que l'image reste à l'intérieur du cercle */
}

.icon img {
    width: 100%;
    /* Pour que l'image prenne toute la largeur du conteneur */
    height: 100%;
    /* Pour que l'image prenne toute la hauteur du conteneur */
    object-fit: cover;
    /* Pour que l'image reste proportionnée tout en couvrant le conteneur */
    border-radius: 50%;
    /* Pour donner une forme ronde à l'image */
}

.info-btn {
    background-color: transparent;
    border: 2px solid white;
    padding: 0px 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    margin-top: 20px;
    cursor: pointer;
}

.info-btn:hover {
    background-color: white;
    color: #5c3e29;
}

h2 {
    font-size: 1.5rem;
    font-weight: 10;
}

h3 {
    font-size: 1.1rem;
    font-weight: 10;
}

.qui-sommes-nous {
    margin-bottom: 15px;
    margin-top: -15%;
    margin-left: 30%;
}
.list-qui-sommes-nous {
    padding-top: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    /*background-color: #804016;
    background-image: url('images/background.jpg');
    
    opacity: 0.6;*/
    
}
.background-qui-sommes-nous {
    position: relative;
    left: 0;
    width: 50%;
    height: 10%;
    z-index: -1;
    /*opacity: 0.5;*/
}
.background-qui-sommes-nous img {
    width: 205vh;
    height: 130vh;
    object-fit: cover;
    opacity: 2;
}
.background-qui-sommes-nous-text {
    position: relative;
    left: 0;
    width: 20%;
    height: 10%;
    z-index: -1;
}
.background-qui-sommes-nous-text img {
    width: 100vh;
    height: 12vh;
   
    /*object-fit: cover;*/
}

/* Responsive styling for mobile */
@media only screen and (max-width: 767px) {

    /* Stack header elements vertically */
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 15px;
    }

    .panier_menu {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border-bottom: none;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu ul li {
        margin: 0;
    }

    .social-icons {
        margin-top: 20px;
        justify-content: center;
    }

    /* Responsive content */
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 14px;
        max-width: 90%;
    }

    /* Stack cards in a column */
    .list {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100%;
        padding: 20px;
    }

    .card-contact {
        width: 100%;
        padding: 20px;
    }
}

/* Styles communs pour Tablet et Desktop */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Stack header elements vertically */
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 15px;
    }

    .social-icons {
        margin-top: 20px;
        justify-content: center;
    }


    /* Aligner le logo et les icônes sociales horizontalement avec un espacement */
    .logo,
    .social-icons {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    /* Mettre la section panier et le menu en ligne en bas */
    .panier_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    /* Ajuster la taille des icônes sociales */
    .social-icons a {
        font-size: 24px;
    }

    .menu ul li {
        font-size: 18px;
    }

    /* Ajuster le titre et le paragraphe */
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 18px;
        max-width: 80%;
    }

    /* Ajuster les cartes pour mieux s'adapter aux écrans plus larges */
    .card {
        width: calc(22% - 20px);
    }
}